extends layout 

block content 

  div(class="card p-2")
    p=category.description

    ul 
      li 
        a(href="/" + category.url + "/update") Update category
      li 
        a(href="/" + category.url + "/delete") Delete category