extends layout 

block content 
  h1 Categories 

  ul(class="list-group")
    each category in categories 
      li.list-group-item
        a(href=category._id)= category.name

  form(action="", method="post") 
    button(class="btn bg-primary text-light" type="submit") Add new category 
