extends layout 

block content 
  h1 Categories 

  ul(class="list-group mb-4")
    each category in categories 
      li(class="list-group-item")
        a(href=category.id)= category.name

  a(href='/category/new')
    button(type="button" class="btn btn-outline-primary") Add new category 
