extends layout 

block content 

  h1=title

  h2=category.name
  p=category.description

  ul 
    li 
      a(href='/' + category.url + "/update") Update category
    li 
      a(href='/' + category.url + "/delete") Delete category