extends layout 

block content 

  div(class="card d-flex flex-row justify-content-between gap-2 p-2 mb-2")
    div
      h2=category.name
      p=category.description
    
    div(class="d-flex flex-column gap-2") 
      a(href="/" + category.url + "/update") 
        button(class="btn btn-outline-primary")
          i(class="bi bi bi-pencil-fill")

      a(href="/" + category.url + "/delete") 
        button(class="btn btn-outline-primary")
          i(class="bi bi-trash3")