extends layout 

block content 
  h1(class="text-3xl py-2") Categories 

  ul(class="flex flex-col gap-y-2")
    each category in categories 
      li
        a(href=category._id)= category.name

    a(href='/category/new')
      button(type="button") Add new category 
