extends layout 

block content 
  
  h1=title

  if category 
    span There are items in this category. Please delete them before deleting the category.
    ul(class="list-group mb-4")
      each item in items 
        li(class="list-group-item")
          a(href=item.url)= item.name

  else
    span There are no items in this category. You can delete it safely.
    form(method='post' action='')
      button(type='submit') Delete